/* CSS */

/* CSS for SEI++ */
#seipp {
	display: inline;
	font-size: 18px;
	filter: brightness(50%);
}
.seipp-alerta {
	background-color: yellow;
}
.seipp-critico {
	background-color: red;
}
/* CSS for SEI++ END */

/* CSS for Tablesorter */
.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	background-position: center left;
	background-repeat: no-repeat;
	border-left: 1px dotted darkgray;
}
.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
.tablesorter-default thead .sorter-false {
	background-image: none;
}
.tablesorter-header-inner {
	font-size: inherit;
	font-weight: inherit;
	text-align: inherit;
	color: inherit;
	padding-left: 15px;
}

.infraTrClara:hover, .seipp-alerta:hover, .seipp-critico:hover {
	background-color: gray;
}
/* CSS for Tablesorter END */