body {
  color: white;
  background-color: black;
  margin: 30px;
}

h2 {
  text-decoration: underline;
  font-style:  italic;
}

a:link, a:visited {
    color: #0066cc;
}

a:active {
  color: green;
}

p {
  color: lightgrey;
  margin-left: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  width: calc(100% - 60px);
}