/* CSS */

/* CSS for SEI++ */
#seipp {
	display: inline;
	font-size: 14px;
	filter: brightness(50%);
}
.infraTrseippalerta {
	background-color: yellow;
}
.infraTrseippcritico {
	background-color: red;
}
.seipp-assinatura {
    background-color: #cccc63 !important;
}
.seipp-menu {
	box-shadow: 10px 10px 10px black !important;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
    background-color: none;
  }
  to {
    transform: rotate(359deg);
    background-color: yellow;
  }
}
/* CSS for SEI++ END */

/* CSS for Tablesorter */
.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	background-position: center left;
	background-repeat: no-repeat;
	border-left: 1px dotted darkgray;
}
.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
.tablesorter-default thead .sorter-false {
	background-image: none;
}
.sorter-false > .tablesorter-header-inner {
	padding-left: 0;
}
.tablesorter-header-inner {
	font-size: inherit;
	font-weight: inherit;
	text-align: inherit;
	color: inherit;
	padding-left: 15px;
}

.infraTrClara:hover, .infraTrseippalerta:hover, .infraTrseippcritico:hover {
	background-color: gray;
}

.tablesorter-headerAsc, .tablesorter-headerDesc {
    background-color: gray !important;
}

.tablesorter-filter {
  width: 100%;
  border: 1px solid #bbb;
}
.tablesorter-filter.disabled {
  display: none;
}
.tablesorter-filter-row.hideme {
  display: none !important;
}
.tablesorter-filter-row td {
  border-left: 1px dotted darkgray;
  background-color: #dfdfdf;
}

/* CSS for Tablesorter END */

/* CSS for Modules: consultas.js */
#seipp_divp {
  border-top: 1px dotted;
  margin-top: 1em;
  padding: 1em 0 0;
  font-size: 1.4em;
}
.seipp_interessado {
  padding-left: 0.6em;
  white-space: nowrap;
}
.seipp_sigla {
  padding-left: 1.2em;
  white-space: nowrap;
}
#seipp_novodoc {
  padding-bottom: 1em;
}
#seipp_link_novodoc {
  text-decoration: none;
}
#seipp_link_novodoc span {
  font-size: 1.2em;
  padding-left: 0.5em;
}
#seipp_link_novodoc img {
  border: .1em solid white;
}

/* CEPESC */
.infraTrClara{ 
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  word-break: break-all;
  white-space: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
#divGerados,
#divRecebidos{
  width: 100% !important;
}
#btnGerados{
  padding: 10px 10px 10px 36px;
  font-family: "Trebuchet MS", Arial, Verdana;   
  background: #e9e9e9 url(../icons/outbox.png) 15px 4px no-repeat;
  border-radius: 16px;
  border: 1px solid;
  text-shadow: 1px 1px #fff; 
  box-shadow: 3px 3px #808080;
  margin-bottom: 30px;
  margin-right: 15px;
  margin-top: 10px;
}
#btnRecebidos{
  padding: 10px 10px 10px 36px;
  font-family: "Trebuchet MS", Arial, Verdana;   
  background: #e9e9e9 url(../icons/inbox.png) 15px 4px no-repeat;
  border-radius: 16px;
  border: 1px solid;
  text-shadow: 1px 1px #fff; 
  box-shadow: 3px 3px #808080;
  margin-bottom: 30px;
  margin-right: 15px;
  margin-top: 10px;
}
#filtrar{
  padding: 5px 10px 10px 30px;
  font-family: "Trebuchet MS", Arial, Verdana;   
  background: #eff0f1 url(../icons/filter.png) 2px 1px no-repeat;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid;
  height: 25px;
  text-shadow: 1px 1px #fff;
  margin-right: 15px;
}
#limpar{
  padding: 5px 10px 10px 30px;
  font-family: "Trebuchet MS", Arial, Verdana;   
  background: #eff0f1 url(../icons/no-filter.png) 2px 1px no-repeat;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid;
  height: 25px;
  text-shadow: 1px 1px #fff;
}
#ancTipoVisualizacao{
  border: 1px solid;
  box-shadow: 3px 3px #808080;
}
#theme,
firstColumn{
  width: 110px;
}
button::-moz-focus-inner{
  border: 0;
}
input::-moz-focus-inner{
  border: 0;
}
tr:nth-child(even) {
  background-color: #f2f2f2
}
div.infraTooltipTexto{
font-size:1em; 
padding:.1em;
white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
word-break: break-all;
white-space: normal;
-webkit-hyphens: auto;
-moz-hyphens: auto;
-ms-hyphens: auto;
hyphens: auto;
}
/* CSS for Modules: consultas.js END */

/* CSS for Modules: filtra_processos.CarregaInformacaoBlocos.js */
.disabled {
	color: graytext;
}
/* CSS for Modules: filtra_processos.CarregaInformacaoBlocos.js END */