/* CSS */

/* CSS for SEI++ */
#seipp {
	display: inline;
	font-size: 14px;
	filter: brightness(50%);
}
.infraTrseippalerta {
	background-color: yellow;
}
.infraTrseippcritico {
	background-color: #f60;
}
.seipp-assinatura {
    background-color: #cccc63 !important;
}
.seipp-menu {
	box-shadow: 10px 10px 10px black !important;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
    background-color: none;
  }
  to {
    transform: rotate(359deg);
    background-color: yellow;
  }
}
/* CSS for SEI++ END */

/* CSS for Tablesorter */
.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	background-position: center left;
	background-repeat: no-repeat;
	border-left: 1px dotted darkgray;
}
.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
.tablesorter-default thead .sorter-false {
	background-image: none;
}
.sorter-false > .tablesorter-header-inner {
	padding-left: 0;
}
.tablesorter-header-inner {
	font-size: inherit;
	font-weight: inherit;
	text-align: inherit;
	color: inherit;
	padding-left: 15px;
}

.infraTrClara:hover, .infraTrseippalerta:hover, .infraTrseippcritico:hover {
	background-color: gray;
}

.tablesorter-headerAsc, .tablesorter-headerDesc {
    background-color: gray !important;
}

.tablesorter-filter {
  width: 100%;
  border: 1px solid #bbb;
}
.tablesorter-filter.disabled {
  display: none;
}
.tablesorter-filter-row.hideme {
  display: none !important;
}
.tablesorter-filter-row td {
  border-left: 1px dotted darkgray;
  background-color: #dfdfdf;
}

/* CSS for Tablesorter END */

/* CSS for Modules: consultas.js */
#seipp_divp {
  border-top: 1px dotted;
  margin-top: 1em;
  padding: 1em 0 0;
  font-size: 1.4em;
}
.seipp_interessado {
  padding-left: 0.6em;
  white-space: nowrap;
}
.seipp_sigla {
  padding-left: 1.2em;
  white-space: nowrap;
}
#seipp_novodoc {
  padding-bottom: 1em;
}
#seipp_link_novodoc {
  text-decoration: none;
}
#seipp_link_novodoc span {
  font-size: 1.2em;
  padding-left: 0.5em;
}
#seipp_link_novodoc img {
  border: .1em solid white;
}
/* CSS for Modules: consultas.js END */

/* CSS for Modules: filtra_processos.CarregaInformacaoBlocos.js */
.disabled {
	color: graytext;
}
/* CSS for Modules: filtra_processos.CarregaInformacaoBlocos.js END */