/* CSS */

/* CSS for SEI++ */
#seipp {
	display: inline;
	font-size: 14px;
	filter: brightness(50%);
}
.infraTrseippalerta {
	background-color: yellow;
}
.infraTrseippcritico {
	background-color: red;
}
.seipp-assinatura {
    background-color: #660 !important;
}
.seipp-menu {
	box-shadow: 10px 10px 10px black !important;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
    background-color: none;
  }
  to {
    transform: rotate(359deg);
    background-color: yellow;
  }
}
/* CSS for SEI++ END */

/* CSS for Tablesorter */
.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	background-position: center left;
	background-repeat: no-repeat;
	border-left: 1px dotted darkgray;
}
.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
.tablesorter-default thead .sorter-false {
	background-image: none;
}
.tablesorter-header-inner {
	font-size: inherit;
	font-weight: inherit;
	text-align: inherit;
	color: inherit;
	padding-left: 15px;
}

.infraTrClara:hover, .seipp-alerta:hover, .seipp-critico:hover {
	background-color: gray;
}

.tablesorter-headerAsc, .tablesorter-headerDesc {
    background-color: gray !important;
}

/* CSS for Tablesorter END */

/* CSS for Modules: consultas.js */
#seipp_divp {
  border-top: 1px dotted;
  font-size: 14px;
}
#seipp_novodoc {
  padding-bottom: 1em;
}
#seipp_link_novodoc {
  text-decoration: none;
}
#seipp_link_novodoc span {
  font-size: 1.2em;
  padding-left: 0.5em;
}
#seipp_link_novodoc img {
  border: .1em solid white;
}
/* CSS for Modules: consultas.js END */

/* CSS for Modules: filtra_processos.CarregaInformacaoBlocos.js */
.disabled {
	color: graytext;
}
/* CSS for Modules: filtra_processos.CarregaInformacaoBlocos.js END */