/* CSS for Modules */
div.infraArvore img[id^="seipp"]:hover, div.infraArvore a[id^="seipp"] > img:hover {
  opacity: 0.7;
}
/* CSS for Modules: END */

/* CSS for Modules: MostrarAnotacao */
#seipp_div_anotacao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 20px;
  min-width: 200px;
}
.seipp_anotacao {
  display: block;
  position: relative;
  margin: 0;
  padding: 25px 25px; 
  box-shadow: 8px 8px 5px rgb(110, 110, 110);
  background-color: rgb(234, 230, 114);
  min-width: 150px;
  max-width: 300px;
  min-height: 120px;
}
.seipp-anotacao-red {
  background-color: rgb(252, 70, 70);
}

.seipp_anotacao_texto {
  margin: 0;
  padding: 0;
  text-align: left;
  color: #333;  
  font-size: 20px;
  white-space: pre-wrap;
  word-break: break-word;
}

.seipp_anotacao_btn_editar {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 7px;
  width: 18px;
  height: 18px;
  opacity: 0;
  transition: opacity 0.15s ease;
}

.seipp_anotacao_ic_editar {
  width: 18px;
  height: 18px;
}

.seipp_anotacao:hover .seipp_anotacao_btn_editar {
  opacity: 0.5;
}

.seipp_anotacao_btn_editar:hover {
  opacity: 0.8;
}

.seipp_anotacao_editar {
  display: none;
  min-width: 150px;
}

.seipp_anotacao_txt_editar {
  width: 100%;
  resize: vertical;
  color: #333;  
  font-size: 13px;
  height: auto;
  min-height: 120px;
}

.seipp_anotacao_txt_editar:focus {
  outline: none !important;
  background-color: #fff;
}  


.seipp_anotacao_prioridade > input.infraCheckbox {
  margin-left: 0;
}

.seipp_anotacao_botoes {
  margin-top: 10px;
}

.seipp_sem_anotacao {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  max-width: 200px;
}

.seipp_sem_anotacao > p, .seipp_sem_anotacao > p > a {
  margin: 0;
  padding: 0;
  font-size: 11px;
}

.seipp_icone_nota {
  min-width: 22px;
  width: 22px;
  height: 23px;
  margin-right: 5px;
}

/* CSS for Modules: MostrarAnotacao END */


/* CSS for Modules: Dropzone */
.dropzone-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px dashed #424242;
  border-radius: 4px;
}

.dropzone-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f2f2f2;
  opacity: 0.8;
}

.dropzone-ui {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
}

.dropzone-icon {
  display: inline-block;
  height: 36px;
  width: 36px;
  cursor: default;
}

.dropzone-label {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #424242;
}

/* CSS for Modules: Dropzone END */

/* CSS for Module: ConsultarInteressado */

div#seipp_tipo, div#seipp_interessados {
  margin-left: 1.2em;
}

p.seipp-tipo-processo {
  margin: 0;
  font-size: 12px;
}

p.seipp-interessado {
  margin: 15px 0 0 0;
  font-size: 12px;
}

p.seipp-detalhe-interessado {
  font-size: 11px;
  color: #616161;
  margin: 3px 0 0 15px;
}

/* CSS for Module: ConsultarInteressado END */

/* CSS separador de funcionalidades */
div.seipp-separador {
  display: block;
  position: relative;
  width: 100%;
  margin: 25px 0 10px 0;
  padding: 0;
  border-top: .1em dotted black;
}

div.seipp-separador > span {
  position: absolute;
  top: -6px;
  background-color: white;
  margin: 0 0 0 6px;
  padding: 0 3px 0 3px;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: bold;
  color: #424242;
}
/* CSS separador de funcionalidades END */

/* Botão Consultar Andamento */
#divConsultarAndamento.seipp-consultar-andamento {
  border-top: none;
  margin-top: 15px;
}

#divConsultarAndamento.seipp-consultar-andamento > a {
  background-color: #0494c8;
  padding: 8px 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .15), inset 1px 1px 2px rgba(0, 0, 0, .15);
  transition: background-color 0.2s ease;
}

#divConsultarAndamento.seipp-consultar-andamento > a:hover {
  background-color: #007eab;
}

#divConsultarAndamento.seipp-consultar-andamento > a > img {
  vertical-align: middle;
}

#divConsultarAndamento.seipp-consultar-andamento > a > span {
  color: #fff;
  vertical-align: middle;
  margin-top: -1px;
  font-weight: normal;
  font-size: 12px !important;
}
/* Botão Consultar Andamento END */