/* CSS for Modules */
div.infraArvore img[id^="seipp"]:hover, div.infraArvore a[id^="seipp"] > img:hover {
  opacity: 0.7;
}
/* CSS for Modules: END */

/* CSS for Modules: MostrarAnotacao */
#seipp_div_anotacao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
	border-top: 1px dotted;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 20px;
  min-width: 200px;
}
.seipp_anotacao {
  display: block;
  position: relative;
  margin: 0;
  padding: 25px 25px; 
  box-shadow: 8px 8px 5px rgb(110, 110, 110);
  background-color: rgb(234, 230, 114);
  min-width: 150px;
  max-width: 300px;
  min-height: 120px;
}
.seipp-anotacao-red {
  background-color: rgb(252, 70, 70);
}

.seipp_anotacao_texto {
  margin: 0;
  padding: 0;
  text-align: left;
  color: #333;  
  font-size: 20px;
  white-space: pre-wrap;
  word-break: break-word;
}

.seipp_anotacao_btn_editar {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 7px;
  width: 18px;
  height: 18px;
  opacity: 0;
  transition: opacity 0.15s ease;
}

.seipp_anotacao_ic_editar {
  width: 18px;
  height: 18px;
}

.seipp_anotacao:hover .seipp_anotacao_btn_editar {
  opacity: 0.5;
}

.seipp_anotacao_btn_editar:hover {
  opacity: 0.8;
}

.seipp_anotacao_editar {
  display: none;
  min-width: 150px;
}

.seipp_anotacao_txt_editar {
  width: 100%;
  resize: vertical;
  color: #333;  
  font-size: 13px;
  height: auto;
  min-height: 120px;
}

.seipp_anotacao_txt_editar:focus {
  outline: none !important;
  background-color: #fff;
}  


.seipp_anotacao_prioridade > input.infraCheckbox {
  margin-left: 0;
}

.seipp_anotacao_botoes {
  margin-top: 10px;
}

.seipp_sem_anotacao {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  max-width: 200px;
}

.seipp_sem_anotacao > p, .seipp_sem_anotacao > p > a {
  margin: 0;
  padding: 0;
  font-size: 11px;
}

.seipp_icone_nota {
  min-width: 22px;
  width: 22px;
  height: 23px;
  margin-right: 5px;
}

/* CSS for Modules: MostrarAnotacao END */


/* CSS for Modules: Dropzone */
.dropzone-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px dashed #424242;
  border-radius: 4px;
}

.dropzone-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f2f2f2;
  opacity: 0.8;
}

.dropzone-ui {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
}

.dropzone-icon {
  display: inline-block;
  height: 36px;
  width: 36px;
  cursor: default;
}

.dropzone-label {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #424242;
}

/* CSS for Modules: Dropzone END */

/* CSS for Module: ConsultarInteressado */

p.seipp-tipo-processo {
  font-size: 1.4em;
}

p.seipp-interessado {
  margin: 10px 0 0 0;
}

p.seipp-detalhe-interessado {
  font-size: 11px;
  color: #616161;
  margin: 6px 0 0 10px;
}

